includes:
    - ./vendor/jumptwentyfour/php-coding-standards/phpstan.neon

parameters:
    level: 8
    paths:
        - app
    excludePaths:
        - '.phpstorm.meta.php'
        - '_ide_helper.php'
        - 'server.php'
    checkMissingIterableValueType: false
