includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/nunomaduro/larastan/extension.neon

parameters:
    level: 8
    paths:
        - app
    excludes_analyse:
        - '.phpstorm.meta.php'
        - '_ide_helper.php'
        - 'server.php'
    checkMissingIterableValueType: false
    universalObjectCratesClasses:
        - Marvel\Client
        - Marvel\Comics
        - Marvel\Resources\Base
