.card,
.card:hover {
  transition: all 0.6s ease-in-out;
}

.card__image {
  padding-bottom: 100%;
}

.card__image--comic {
  @apply pb-0;
}

.card__image:not(.card__image--comic) img {
  @apply top-1/2
    left-0;
  transform: translateY(-50%);
}

.card__title {
  text-shadow: 2px 2px #9D174D;
}
